@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);

  --color-slate-900: hsl(218, 44%, 22%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-300: hsl(212, 45%, 89%);
}

.container {
  background-color: var(--color-slate-300);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  width: 320px;
  height: 499px;
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
}

.qr-code-img {
  width: 288px;
  height: 288px;
  border-radius: 16px;
}

.content-container {
  padding: 24px 16px 0px 16px;
}

.title {
  font-family: Outfit, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--color-slate-900);
  margin-top: 0px;
  margin-bottom: 0px;
}

.gap-16px {
  height: 16px;
}

.message {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--color-slate-500);
  margin-top: 0px;
  margin-bottom: 0px;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}
