@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --page-background-color: hsl(212, 45%, 89%);
  --card-background-color: hsl(0, 0%, 100%);
  --card-title-color: hsl(218, 44%, 22%);
  --card-message-color: hsl(216, 15%, 48%);
}

body {
  background-color: var(--page-background-color);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  width: 320px;
  height: 499px;
  background-color: var(--card-background-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
}

.qr-code-img {
  width: 288px;
  height: 288px;
  border-radius: 16px;
}

.title {
  font-family: Outfit, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--card-title-color);
}

.message {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--card-message-color);
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}
